.cFavorites {
  margin: 1rem 4rem;
}

.favoritesTitle {
  text-align: center;
}
.favoritesTitle h2 {
  color: #832d44;
  font-size: 38px;
}

.favoritesTitle p {
  font-size: 17px;
}

.cFavorite {
  width: 250px;
  height: 350px;
  border: 1px solid #dacece;
  margin-bottom: 0.5rem;
  padding: 0 0.6rem;
  position: relative;
}

.cFavorite img {
  height: 230px;
  width: 230px;
}

.cFavorite p {
  font-weight: bold;
  font-size: 14px;
}

p.price {
  font-size: 18px;
}

p.type {
  font-size: 12px;
  font-weight: 700;
}

p.favoriteExplore {
  display: inline;
  font-weight: 500;

  margin-left: 4rem;
  text-align: center;
  background-color: #f0f0f0;
}

img.favoriteIcon {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #f0f0f0;
  padding: 3px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}


.cFavorites{
  display:flex;
  overflow: hidden;
  gap: 2rem;


}

.parent-list{
  display: flex;
  align-items: center;
  
}

.btn-fav{
 width: 100px;
 height: 50px;
 border-radius: 50%;

}

.right-btn{
  margin-right: 5rem;
}
.left-btn{
  margin-left: 5rem;
}








