
footer{

  background-color: #efe3e3;
  height: 80vh;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;

  margin-bottom: 6rem;
}

.footer-container h2 {
  color: #832d44;
  font-size: 24px;
  text-align: start;
}

.footer-container ul {
  list-style: none;
  font-size: 18px;
  padding: 0;
}

.footer-container ul li {
  text-align: start;
  margin-top: 1.5rem;
}

hr {
  border: 3px solid blue;

}
